VITE_PLAUSIBLE_DOMAIN=gvtech-design.pages.dev
VITE_PLAUSIBLE_ENDPOINT=https://stats.garciaericn.com/api/event
VITE_ANALYTICS_ENABLED=true
# Set to true to log all analytics activity to the browser console
VITE_ANALYTICS_DEBUG=false
