# Primary OpenPanel env vars
VITE_OPENPANEL_CLIENT_ID=3316e353-e491-472e-84ff-7830c595a872
VITE_OPENPANEL_API_URL=https://openpanel.gventureshq.com/api

# Optional flag to disable analytics in any environment
VITE_ANALYTICS_ENABLED=true
NEXT_PUBLIC_ANALYTICS_ENABLED=true
# Set to true to log all analytics activity to the browser console
VITE_ANALYTICS_DEBUG=false
